body {
    margin: 0;
    background: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin-top: 120px;
}

h1 {
    color: #0066cc;
}

button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: darkgreen;
}
